{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/main-page.css">
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="page-wrapper">
        <div class="page-row">
            <div class="page-central-column">
                <div class="page-title"><h1>Forest</h1></div>
                <div class="form-title"><h2>Вход</h2></div>
                {% include 'flash-messages.twig' %}
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="aligned-name">Имя пользователя</label>
                            <input id="aligned-name" type="text" placeholder="Username">
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-password">Password</label>
                            <input id="aligned-password" type="password" placeholder="Password">
                        </div>

                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Войти</button>
                        </div>
                        <div class="pure-controls">
                            <a href="/register">Зарегистрироваться</a>
                        </div>
                        <div class="pure-controls">
                            <a href="/user-list">Просмотреть анкеты</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}