{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/registration-page.css">
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="page-wrapper">
        <div class="page-row">
            <div class="page-central-column">
                <div class="page-title"><h1>Forest</h1></div>
                <div class="form-title"><h2>Регистрация</h2></div>
                {% include 'flash-messages.twig' %}
                {% if validationErrors %}
                    <p>
                        Не удалось зарегистрироваться.
                    </p>
                    {% for validationError in validationErrors %}
                    <p>
                        {{ validationError }}
                    </p>
                    {% endfor %}
                {% endif %}
                <form class="pure-form pure-form-aligned" method="post">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="aligned-username">Логин</label>
                            <input id="aligned-username" type="text" placeholder="your_name" name="registrationForm[login]" value="{{ form.login|escape('html_attr') }}">
                            <span class="pure-form-message-inline">*</span>
                            <span class="pure-form-message-inline">Только английские буквы.</span>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-password">Пароль</label>
                            <input id="aligned-password" type="password" placeholder="Пароль" name="registrationForm[password]">
                            <span class="pure-form-message-inline">*</span>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-firstname">Имя</label>
                            <input id="aligned-firstname" type="text" placeholder="Ваше имя" name="registrationForm[first_name]" value="{{ form.first_name|escape('html_attr') }}">
                            <span class="pure-form-message-inline">*</span>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-lastname">Фамилия</label>
                            <input id="aligned-lastname" type="text" placeholder="Ваша фамилия" name="registrationForm[last_name]" value="{{ form.last_name|escape('html_attr') }}">
                            <span class="pure-form-message-inline">*</span>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-age">Возраст</label>
                            <input id="aligned-age" type="text" name="registrationForm[age]" value="{{ form.age|escape('html_attr') }}">
                            <span class="pure-form-message-inline">*</span>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-gender-m">Пол</label>
                            <input id="aligned-gender-m" type="radio" name="registrationForm[gender]" value="m"
                                {% if form.gender is not same as('f') %}
                                    checked
                                {% endif %}
                            >
                            <span class="pure-form-message-inline">Мужской</span>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-gender-f"></label>
                            <input id="aligned-gender-f" type="radio" name="registrationForm[gender]" value="f"
                                    {% if form.gender is same as('f') %}
                                        checked
                                    {% endif %}
                            >
                            <span class="pure-form-message-inline">Женский</span>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-hobbies">Интересы</label>
                            <input id="aligned-hobbies" type="text" name="registrationForm[hobbies]" value="{{ form.hobbies|escape('html_attr') }}">
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-city">Город</label>
                            <input id="aligned-city" type="text" name="registrationForm[city]" value="{{ form.city|escape('html_attr') }}">
                            <span class="pure-form-message-inline">*</span>
                        </div>

                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Зарегистрироваться</button>
                        </div>

                        <div class="pure-controls">
                            <a href="/">Войти</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}