{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/user-page.css">
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="page-wrapper">
        <div class="page-row">
            <div class="page-central-column">
                <div class="flex-centered"><h1>{{ user.fullName }}</h1></div>
                {% if user.gender is same as('m') %}
                    <p>Мужчина</p>
                {% else %}
                    <p>Женщина</p>
                {% endif %}
                <p>Возраст: {{ user.age }}</p>
                {% if user.hobbies %}
                    <p>Увлечения: {{ user.hobbies }}</p>
                {% endif %}
                <p>Город: {{ user.city }}</p>
                <div class="flex-centered">
                    <p><a href="/">Вернуться на главную страницу</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}