{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/user-list.css">
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="page-wrapper">
        <div class="page-row">
            <div class="page-central-column">
                <div class="flex-centered"><h1>Новые пользователи:</h1></div>
                {% if users %}
                    {% for user in users %}
                        <p>
                            <a href="/user-page?user={{ user.login }}">{{ user.fullName }}</a>, {{ user.age }} лет, {{ user.city }}
                        </p>
                    {% endfor %}
                    <div class="flex-centered">
                        <p>Всего зарегистрировано на сайте: {{ usersCount }}</p>
                    </div>
                {% else %}
                    <p>Ещё никто не зарегистрировался. Будьте первым! ;)</p>
                {% endif %}
                <div class="flex-centered">
                    <p><a href="/">Вернуться на главную страницу</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}